{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ],
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    "tailcall-optimization",
    "transform-es2015-modules-commonjs",
    "transform-flow-strip-types"
  ]
}
